# Tabular Data 2

## Example: Iris flower dataset (Iris Data)
https://archive.ics.uci.edu/ml/datasets/iris

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica
      
Iris flower dataset is a very popular dataset. 
Have a look at https://en.wikipedia.org/wiki/Iris_flower_data_set.

It was used by Ronald Fisher. For his work in statistics, he has been described as "a genius who almost single-handedly created the foundations for modern statistical science".

In [1]:
with open("../inputs/iris/iris.names", "r") as f:
    names = f.read()
    print(names)

1. Title: Iris Plants Database
	Updated Sept 21 by C.Blake - Added discrepency information

2. Sources:
     (a) Creator: R.A. Fisher
     (b) Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
     (c) Date: July, 1988

3. Past Usage:
   - Publications: too many to mention!!!  Here are a few.
   1. Fisher,R.A. "The use of multiple measurements in taxonomic problems"
      Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions
      to Mathematical Statistics" (John Wiley, NY, 1950).
   2. Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.
      (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   3. Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
      Structure and Classification Rule for Recognition in Partially Exposed
      Environments".  IEEE Transactions on Pattern Analysis and Machine
      Intelligence, Vol. PAMI-2, No. 1, 67-71.
      -- Results:
         -- very low misclassification rates (0% for the setosa class)
   4. Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE
      Transactions on Information Theory, May 1972, 431-433.
      -- Results:
         -- very low misclassification rates again
   5. See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al's AUTOCLASS II
      conceptual clustering system finds 3 classes in the data.

4. Relevant Information:
   --- This is perhaps the best known database to be found in the pattern
       recognition literature.  Fisher's paper is a classic in the field
       and is referenced frequently to this day.  (See Duda & Hart, for
       example.)  The data set contains 3 classes of 50 instances each,
       where each class refers to a type of iris plant.  One class is
       linearly separable from the other 2; the latter are NOT linearly
       separable from each other.
   --- Predicted attribute: class of iris plant.
   --- This is an exceedingly simple domain.
   --- This data differs from the data presented in Fishers article
	(identified by Steve Chadwick,  spchadwick@espeedaz.net )
	The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa"
	where the error is in the fourth feature.
	The 38th sample: 4.9,3.6,1.4,0.1,"Iris-setosa"
	where the errors are in the second and third features.

5. Number of Instances: 150 (50 in each of three classes)

6. Number of Attributes: 4 numeric, predictive attributes and the class

7. Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class:
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

8. Missing Attribute Values: None

Summary Statistics:
	         Min  Max   Mean    SD   Class Correlation
   sepal length: 4.3  7.9   5.84  0.83    0.7826
    sepal width: 2.0  4.4   3.05  0.43   -0.4194
   petal length: 1.0  6.9   3.76  1.76    0.9490  (high!)
    petal width: 0.1  2.5   1.20  0.76    0.9565  (high!)

9. Class Distribution: 33.3% for each of 3 classes.

## Exercise 1

Load the iris flower dataset with pandas. Use the pandas read_csv function. Delete rows with empty values with Pandas DataFrame.dropna().

In [2]:
# read data with pandas read_csv function:
import pandas as pd
df = pd.read_csv("../inputs/iris/iris.data", names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class'])

In [3]:
# drop rows with empty data
df = df.dropna()
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
## Show the labels:
print(set(df['class'].tolist()))

{'Iris-versicolor', 'Iris-virginica', 'Iris-setosa'}

In [5]:
######### change labels into numerical representation ########
classes_dict = {"Iris-setosa": 1, "Iris-versicolor": 2, "Iris-virginica": 3}

convert=lambda x:classes_dict[x]

values_as_num = list(map(convert, df['class'].tolist()))

print(values_as_num)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [6]:
df['class'] = values_as_num

## Exercise 2

Look at the statistics and understand correlation.

In [7]:
#Summary Statistics
#               Min  Max   Mean    SD   Class Correlation
# sepal length: 4.3  7.9   5.84  0.83    0.7826   
# sepal width : 2.0  4.4   3.05  0.43   -0.4194
# petal length: 1.0  6.9   3.76  1.76    0.9490  (high!)
# petal width : 0.1  2.5   1.20  0.76    0.9565  (high!)

df.describe()

       sepal length  sepal width  petal length  petal width       class
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    2.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.000000
50%        5.800000     3.000000      4.350000     1.300000    2.000000
75%        6.400000     3.300000      5.100000     1.800000    3.000000
max        7.900000     4.400000      6.900000     2.500000    3.000000

In [8]:
############## Understand Correlation between the features ##############
corr = df.corr()
corr

              sepal length  sepal width  petal length  petal width     class
sepal length      1.000000    -0.109369      0.871754     0.817954  0.782561
sepal width      -0.109369     1.000000     -0.420516    -0.356544 -0.419446
petal length      0.871754    -0.420516      1.000000     0.962757  0.949043
petal width       0.817954    -0.356544      0.962757     1.000000  0.956464
class             0.782561    -0.419446      0.949043     0.956464  1.000000

## Exercise 3

Do further data investgation. Play with the data.

In [9]:
######################### Backup ##################

In [10]:
classes = {}
# iterate over index
for index in range(len(df)):
    _class = df['class'][index]
    if _class not in classes:
        classes[_class] = 0
    classes[_class] +=1
print(classes)

{1: 50, 2: 50, 3: 50}

In [11]:
# get all values from last column
class_values = df['class']           # as a pandas series
class_values_np = df['class'].values # as a numpy array
print(type(class_values))
print(type(class_values_np))
print(class_values_np.shape)
print(class_values_np.dtype)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
(150,)
int64

In [12]:
# get all values from first column
class_values = df['sepal length']           # as a pandas series
class_values_np = df['sepal length'].values # as a numpy array
print(type(class_values))
print(type(class_values_np))
print(class_values_np.shape)
print(class_values_np.dtype)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
(150,)
float64